@{
    ViewData["Title"] = "Get To Know Joel";
}    

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <p>Here you can see where Joel performs regularly and a link to the Baconsale site </p>
    
    <hr />
    
    <div class="mb-4">
        <h3>Comedy</h3>
        <p>See Joel perform live with his improv troupe:</p>
        <a class="btn btn-primary" href="https://www.qwcomedy.com/" target="_blank">Go to Quick Wits Comedy</a>
    </div>
    
    <br />
    
    <div class="mb-4">
        <h3>Baconsale Podcast</h3>
        <p>Listen to his weekly podcast about film and pop culture:</p>
        
        <a href="https://baconsale.com/" target="_blank">
            <img src="/img/BaconsaleKate.jpg" height="200" alt="Baconsale Logo" style="border: 2px solid #ddd; border-radius: 10px;" />
        </a>
        
        <br /><br />
        
        <a href="https://baconsale.com/" target="_blank">Visit Baconsale.com</a>
    </div>
</div>